.product-detail{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid gray;
}
.product-3{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
}
.btn-cart{
    background-color:goldenrod;
    width:150px;
    height:25px;
    border: 1px solid gray;
    border-radius:5px;
    margin-bottom:15px;
    cursor: pointer;
}