.header{
    text-align: center;
    background-color: rgb(202, 212, 221);
}
.header img{
    height:80px;
    margin: 10px;
    
}
.header nav{
    background-color:thistle;
}
.header nav a{
    color:white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}
.header nav a:hover{
    color:rgb(241, 241, 9);
    background-color:rgb(219, 206, 219);
}